<body>
    <div class="form">
        <form method="post" action="index.html">
            <h1>Sistema de Livros</h1><br>
            <h2>Cadastro</h2>
            <label for="titulo">Titulo</label>
            <input type="text" size="40" placeholder="Título do livro"><br>
            <label for="titulo">Descrição</label>
            <input type="text" size="80" placeholder="Descrição"><br>
            <label for="titulo">Autor(a):</label>
            <input type="text" size="30" placeholder="Autor(a)"><br>
            <label for="titulo">Editora:</label>
            <input type="text" size="20" placeholder="Editora"><br>
            <label name="generoliterario">Gênero:</label>
            <select name="genero" id="generoliterario">
                   
            </select>
        </form>
    </div>
</body>
